{% extends 'base.html' %}

{% block title %} All profiles  {% endblock title %}

{% block content %}

{% if is_empty %}
    <h1> No profile </h1>
{% endif %}

<div class="row">
<div class="col-md-2"></div>
<div id="conteinerPosts" class="col-md-8">
    {% for obj in object_list %}
      <div id="Cposts" class="col-md-12">
        <div class="media g-mb-30 media-comment">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                <div class="row">
                    <div class="col-md-3" align="left">
                        <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src={{obj.avatar.url}}></img>
                    </div>
                    <div class="col-md-6" align="center">
                        <p style="font-size:25px;"><strong>{{obj.last_name}} {{obj.first_name}}</strong><p>
                        <h1 class="g-color-gray-dark-v4 g-font-size-12">{{obj.country}}</h1>
                        <a href={{obj.get_absolute_url}}><button class="btn btn-outline-primary">See profile</button></a>
                    </div>
                    <div class="col-md-3"></div>            
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3" align="right">
                        <!-- Se l'utente non fa parte della lista invitati o ricezione inviti allora è un utente al quale è possibile inviare una richiesta-->
                        {% if obj.user not in list_sender and obj.user not in list_receiver %}
                            <form action="{% url 'profiles:send-invite' %}" method="POST">
                            {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                <button type="submit" class="btn btn-outline-success"> Add friend </button>
                            </form>
                        {% endif %}

                        <!-- Se un utente è nella lista invitati, su di esso viene mostrato un messaggio che indica l'attesa della conferma di amicizia-->
                        {% if obj.user in list_receiver and request.user not in obj.friends.all %}
                            <button class="ui disabled button">Waiting for approval</button>
                        {% endif %}

                        <!-- Se tale utente fa già parte della lista degli amici dell'utente corrente, viene mostrato un bottone che permette la rimozione di tale utente se necessario-->
                        {% if request.user in obj.friends.all %}
                            <form action="{% url 'profiles:remove-friend' %}" method="POST">
                            {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                <button type="submit"class="btn btn-outline-danger"> Remove friend </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock content %}