{% extends 'base.html' %}

{% block title %} my profile {% endblock title %}

{% block content %}
{% if error == False and message != '' %}
<div class="alert alert-success" role="alert">
  <strong>Success!</strong> {{ message }}
</div>
{% elif error == True and message != '' %}
<div class="alert alert-danger" role="alert">
  <strong>Warning!</strong> {{ message }}
</div>
{% endif %}
<center><h1> Change your password</h1>
<div id="containerChangePWD" class="container">
  <form>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 text-center">
        <label>New Password</label><br>
        <input type="password" id="newPWD" name="newPWD" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 text-center">
        <label>Confirm Password</label><br>
        <input type="password" id="confirmPWD" name="confirmPWD" required>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 text-center">
        <form action="{% url 'profiles:change-password' %}" method="POST" >
          {% csrf_token %}
          <button class="btn btn-danger"> Update Password </button>
      </div>
      <div class="col-lg-2"></div>
        </form>
    </div>
  </form>
</div>
{% endblock content %}