{% extends 'base.html' %}

{% block title %} Search {% endblock title %}

{% block content %}
{% load static %}
<main class="content">
    <div class="container p-0" id="chatContainer">
		<div class="card" id="cardChat">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right">
					{% for userConv,count in userConversation %}
					<form action="{% url 'profiles:chat-view' %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="profile_pk" value={{userConv.pk}}>
						<button class="list-group-item list-group-item-action border-0">
							<div class="d-flex align-items-start border-top">
								<img src="{{ userConv.avatar.url }}" class="rounded-circle mr-1" width="40" height="40">
								<div class="flex-grow-1 ml-3">
									{{ userConv.first_name }} {{ userConv.last_name }}
								</div>
							</div>
							{% if count > 0 %}
								<div class="badge bg-success float-right"> {{count}} </div>
							{% elif count == 0 %}
								<div class="badge bg-danger float-right"> {{count}} </div>
							{% endif %}
						</button>
					</form>
					{% endfor %}
					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
				<div class="col-12 col-lg-7 col-xl-9">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
								{% if user.avatar.url %}
									<img src="{{ user.avatar.url }}" class="rounded-circle mr-1" width="40" height="40">
								{% endif %}
								{% if not user.avatar.url %}
									<img src="{% static 'Images/logo_white_large.png' %}" class="rounded-circle mr-1" width="40" height="40">
								{% endif %}
							</div>
							<div class="flex-grow-1 pl-3">
								<strong> {{ user.first_name }} {{ user.last_name}} </strong>
							</div>
						</div>
					</div>
					<div class="position-relative">
						<div class="chat-messages p-4">
						{% for message in messages %}
							{% if message.flag %}
							<div class="chat-message-right pb-4">
								<div>
									<img src="{{ message.sender_message.avatar.url }}" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2"> {{ message.created }} </div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									<div class="font-weight-bold mb-1">{{ message.sender_message.first_name }} {{ message.sender_message.last_name}}</div>
									{{ message.content }}
								</div>
							</div>
							{% endif %}
							{% if not message.flag %}
							<div class="chat-message-left pb-4">
								<div>
									<img src="{{ message.sender_message.avatar.url }}" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2"> {{ message.created }} </div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
									<div class="font-weight-bold mb-1"> {{ message.sender_message.first_name }} {{ message.sender_message.last_name}}</div>
									{{ message.content }}
								</div>
							</div>
							{% endif %}
						{% endfor %}
						</div>
					</div>
					<form action="{% url 'profiles:send-message' %}" method="POST">
						<div class="flex-grow-0 py-3 px-4" id="sendMessageContainer">
							<div class="input-group">
								{% csrf_token %}
									<input type="hidden" name="profile_pk" value={{user.pk}}>
									<input type="text" name="content_message" class="form-control" placeholder="Type your message">
									{% if user %}
									<button class="btn btn-primary">Send</button>
									{% elif not user %}
									<button class="btn btn-primary" disabled>Send</button>
									{% endif %}
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock content %}