{% extends 'base.html' %}

{% block title %}
profile detail
{% endblock title %}

{% block content %}
<div class="ui grid">
    <br>
    <div class="row">
        <div class="four wide column">
            <img class="ui medium rounded image" src={{object.avatar.url}}>
            <h1>{{object.user}}</h1>
            <div class="ui vertical fluid menu">
                <div class="item">
                    Posts
                    <div class="ui label">{{object.num_posts_no}}</div>
                </div>
                <div class="item">
                    Likes Given
                    <div class="ui label">{{object.get_likes_given_no}}</div>
                </div>
                <div class="item">
                    Likes Received
                    <div class="ui label">{{object.get_likes_received_no}}</div>
                </div>
                <div class="item">
                    Friends
                    <div class="ui label">{{object.get_all_friends_count}}</div>
                </div>
            </div>
            {% if object.user not in list_sender and object.user not in list_receiver %}
                <form action="{% url 'profiles:send-invite' %}" method="POST">
                {% csrf_token %}
                    <input type="hidden" name="profile_pk" value={{object.pk}}>
                    <button type="submit" class="btn btn-outline-success"> Add friend </button>
                </form>
            {% endif %}

            {% if object.user in list_receiver and request.user not in object.friends.all %}
                <button class="ui disabled button">Waiting for approval</button>
            {% endif %}

            {% if request.user in object.friends.all %}
                <form action="{% url 'profiles:remove-friend' %}" method="POST">
                {% csrf_token %}
                    <input type="hidden" name="profile_pk" value={{object.pk}}>
                    <button type="submit"class="btn btn-outline-danger"> Remove friend </button>
                </form>
            {% endif %}

            
        </div>
        <div class="twelve wide column">
            {% if len_posts %} 
                {% for post in posts %}
                    <div class="segment ui fluid">
                        {{post.content}}
                    </div>
                {% endfor %}
            {% else %}
                    <h1>No post of this user ...<h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}