{% extends 'base.html' %}

{% block title %} List Friends {% endblock title %}

{% block content %}
{% if is_empty %}
<div id="sadContainer"class="container" align="center">
    <div class="row">
      <div class="col-md-2"></div>
      <div id="sadMessages" class="col-md-8">  
        <strong> <h1> No friends yet </h1> </strong>
        <i class="bi bi-emoji-frown">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg>
        </i>
      </div>
      <div class="col-md-2"></div>
    </div>
</div>
{% elif not is_empty %}
<h2 align="center"> List friends</h2> 
{% for obj in qs %}
<div id="myinvitesContainer" class="ui container">
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5" aligh="left">
                <h3>{{obj.user}}</h3>
              </div>
              <div class="col-md-6" align="right">
                <form action="{% url 'profiles:delete-friend-view' %}" method="POST">
                {% csrf_token %}
                  <input type="hidden" name="profile_pk" value={{obj.pk}}>
                    <button type="submit" class="btn btn-danger" style="height:30px;width:150px">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                        Remove Friend
                    </button>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock content %}