{% extends 'base.html' %}

{% block title %} my profile {% endblock title %}

{% block content %}

<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-3 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img  class="d-flex g-width-500 g-height-500 rounded-circle g-mt-3 g-mr-15" src={{profile.avatar.url}} style="max-width:150px">
                    <div class="mt-3">
                      <h4> {{profile.first_name}} {{profile.last_name}} </h4>
                      <p class="text-secondary mb-1">@{{profile.user}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <p>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                      </svg> Friends ( {{profile.get_all_friends_count}} ) 
                    </p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <p>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                      </svg> Country ( {{profile.country}} )
                    </p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <p>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                      </svg> Bio ( {{profile.bio}} )
                    </p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <form method='POST' action="{% url 'profiles:change-password' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Change Password</button>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
            <div id="ContentSetting" class="col-md-9">
                    {% if confirm %}
                    <div class="alert alert-success" role="alert">
                      <strong>Success!</strong> Your accout was updated.
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    {% endif %}
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Set your profile</h5>
                    </div>
                    <div class="modal-body">
                    <form action="" method='POST' class="ui form" enctype='multipart/form-data'>
                    {% csrf_token %}
                      {{form.as_p}}         
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Save changes</button>
                    </form>
                  </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock content %}