{% extends 'base.html' %}

{% block title %} Search {% endblock title %}

{% block content %}

<div id="searchedProfileCard" class="card">
    <div id="cardContainer" class="container">
        <center><img class = "ui small circular image" src="{{ profile.avatar.url }}"></center>
        <h1> {{profile.last_name}} {{ profile.first_name}} </h1>
        <p class="title"> {{ profile.bio }} </p>
        <p> {{ profile.country }} </p>
        {% if check and not req and not notFriend %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <form action="{% url 'profiles:chat-view' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{profile.pk}}>
                            <button type="submit" class="btn btn-info" style="height:30px;width:150px">
                                Send Message
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-3">
                        <form action="{% url 'profiles:delete-friend-view' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{profile.pk}}>
                            <button type="submit" class="btn btn-danger" style="height:30px;width:150px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                                    Remove Friend
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        {% elif not check %}
            {% if not req and not notFriend %}
                <form action="{% url 'profiles:accept-invite-view' %}" method="POST">
                {% csrf_token %}
                    <input type="hidden" name="profile_pk" value={{profile.pk}}>
                    <button type="submit" class="btn btn-success"> Accept Invite </button>
                </form>
            {% endif %}

            {% if req and not notFriend%}
                <button class="ui disabled button">Waiting for approval</button>
            {% endif %}

            {% if notFriend and not req%}
                <form action="{% url 'profiles:send-invite' %}" method="POST">
                {% csrf_token %}
                    <input type="hidden" name="profile_pk" value={{profile.pk}}>
                    <button type="submit" class="btn btn-dark"> Send Request </button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock content %}