{% extends 'base.html' %}

{% block title %} Search {% endblock title %}

{% block content %}
{% if isEmpty %}
<div id="sadContainer"class="container" align="center">
    <div class="row">
      <div class="col-md-2"></div>
      <div id="sadMessages" class="col-md-8">  
        <strong> <h1> No Results </h1> </strong>
        <i class="bi bi-emoji-frown">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg>
        </i>
      </div>
      <div class="col-md-2"></div>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="segment">
        <div class="grid">
            <div class="row" id="searchBox">
                <div class="col-lg-1"></div>
                <div class="col-lg-8">
                <form>
                    <input class="form-control" type="text" name="search" placeholder="Search friend">
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-success"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </form>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</div>
{% for item in results %}
<div class="ui container" id="searchResults">
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="col-lg-2 float-right">
                    <img class = "ui small circular image" src="{{ item.avatar.url }}">
                </div>
                <div class="col-lg-7" id="searchInformation">
                    <h3>{{ item.first_name }} {{ item.last_name }}</h3>
                </div>
                <div class="col-lg-3 text-right" id="searchButton">
                    <form action="{% url 'profiles:show-profile' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{item.pk}}>
                        <button class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}