{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>{% trans "Changed Password" %}</h1>
            <p>{% trans 'Your password is now changed.' %}</p>
            <button type='submit' class='btn btn-danger'>
                <a href="{% url 'account_login' %}" class="login_buttons">Sign In</a>
            </button>
        </div>
    </div>
</div>
    

{% endblock %}