{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %} {% trans "Password Reset" %} {% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                
                <form method="POST" action="{% url 'account_reset_password' %}" class="ui form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-danger" type="submit">{% trans 'Reset My Password' %}</button>
                </form>
                
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>

{% endblock %}
