{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">  
      <h1>{% trans "Sign Up" %}</h1>
      <form class="signup ui form" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="container" align="right">
          <button class="btn btn-danger" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </div>
      </form>
    </div>
  <div class="col-md-2"></div>
</div>

{% endblock %}
