{% extends 'base.html' %}

{% block title  %} 
    Home 
    <link rel="shortcut icon" href="#"> 
{% endblock title  %}

{% block content %}

{% load static %}
<div id="container_home" class="container">
    <img src="{% static 'Images/logo_large.png' %}" class="image">
    <div class="middle">
        <div class="text">
            <div class="row">
                <div class="col-md-12-center">
                    <img src="{% static 'Images/logo_large.png' %}" class="image">
                </div>
            </div>
            <div class="row" id="row_buttons">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <button type='submit' class='btn btn-danger'>
                        <a href="accounts/login/" class="login_buttons">Sign In</a>
                    </button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <button type='submit' class='btn btn-danger'>
                        <a href="accounts/signup/" class="login_buttons">Sign Up</a>
                    </button>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}{% endblock scripts %}
