{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/"><img src="{% static 'Images/logo_white_large.png' %}" style="max-width:130px !important;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto mr-margin-center">{% if request.user.is_authenticated %}</ul>
    <ul class="navbar-nav mr-margin-right">
        <li class="nav-item">
            <a class="nav-link" href="/profiles/myprofile">Profile</a>
        </li>
        <li class="nav-item">
            <a href="/posts" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/profiles/myinvites" class="nav-link">Requests</a>
        </li>
        <li class="nav-item">
            <a href="/profiles/myfriends" class="nav-link">Friends</a>
        </li>
        <li class="nav-item">
            <a href="/profiles/searchfriend" class="nav-link">
                Search
            </a>
        </li>
        <li class="nav-item">
            <a href="/profiles/sendmessage" class="nav-link">
                Chat
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
        </li>
    </ul>
    {% else %}
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-margin-left">
            <li class="nav-item">
                <a href="" class="nav-link"> | </a>
            </li>
        </ul>   
    </div>
    {% endif %}
  </div>
</nav>