@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: white !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

#formPosts {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 2px 0 rgba(0,0,0,.2);
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
}

#conteinerPosts {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 2px 0 rgba(0,0,0,.2);
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
}

#CLikes {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

#Cposts {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

#CComments {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

#ContentPost {
    margin-top: 2% !important;
    margin-bottom: 2% !important;   
    background-color: white;
    text-align: center;
    color: #4A4A4A;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.3);
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
}

#postImageContainer{
    top: 5vw;
    left: 5vw;
    width: auto;
    height: auto;
}

#postImage{
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 50%;
    aspect-ratio: 16/9;
}

#form_s{
    margin-top: 2%;
    margin-bottom: 1%;
}