/* Full-width input fields */
input[type=email], input[type=password] {
    width: 50%;
    padding: 8px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top:10px;
  }
  
  /* Modal Content/Box */
  .modal-content, .modal_signup-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto; /* 5% from the top, 5% from the bottom and centered */
    border: 1px solid #888;
    width:30%;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  /*Close button effects*/
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    
    .cancelbtn {
       width: 100%;
    }
  }

  #container_home {
    position: relative;
    width: 100%;
    margin-top: 20%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .middle {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white!important;
  }
  
  .container:hover .middle {
    opacity: 1;
  }

  .text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  a.login_buttons:link, a.login_buttons:visited, a.login_buttons:focus, a.login_buttons:hover {
    color: var(--header-link-color);
    text-decoration: none;
  }

.login_buttons{
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0px 50px;
}

#row_buttons{
  margin-top: 5%;
}