{% extends 'base.html' %}

{% block title %}
    delete post
{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
                <div class='ui negative  message'>
                    <div class="header">
                        {{messages}}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not message %}
        <div class="container" align="center">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">  
                    <h3>Delete post</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p> Are you sure you want to delete the post <p>
                        <button type='submit' class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                            Delete
                        </button>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    {% endif %}
{% endblock content %}