{% extends 'base.html' %}

{% block title %} posts {% endblock title %}
{% block content %} 

<div class="container" id="form_s">
  <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
          <form class="ui form" action="{% url 'posts:main-post-view' %}">
              {% csrf_token %}
              <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search">
      </div>
      <div class="col-lg-2"><button type='submit' class='btn btn-danger'>Search</button></div>
            </form>
  </div>
</div>

<div class="container">
<div class="row">
    <div id="formPosts" class="col-md-12">
      <div class="modal-body">
      <h3 class="modal-title" id="exampleModalLongTitle">Add new post</h3>
      {% if post_added %}
        <div class="container"> Post added</div>
      {% endif %}
        <form action="" method="POST" class="ui form" enctype="multipart/form-data">
          {% csrf_token %}
          {{p_form}}
          <div class="modal-footer">
            <button type='submit' class='btn btn-danger' name="submit_p_form"> 
                Send Post
            </button>
          </div>
        </form>
      </div>
    </div>
</div>
<div class="row">
<div id="conteinerPosts" class="col-md-12">
    {% for obj in qs %}
      <div id="Cposts" class="col-md-12">
        <div class="media g-mb-30 media-comment">
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src={{obj.author.avatar.url}} alt="Image Description">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
              <div class="row">
                <div class="col-md-4">
                  <p><strong>{{obj.author.first_name}} {{obj.author.last_name}}</strong></p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4" align="right">
                  <h1 class="g-color-gray-dark-v4 g-font-size-12">(Posted {{obj.created}})</h1>
                </div>
              </div>
              <div id="ContentPost" class="row">
                <div class="col-md-12">
                      <strong>{{obj.content}}</strong>
                </div>
              <div class="row">
                <div id="postImageContainer" class="container">
                  <div class="col-md-12">
                    {% if obj.image %}
                      <center><image id="postImage" src="{{obj.image.url}}"></image></center>
                    {% endif %}
                  </div>
                </div>
              </div>
              </div>
              <div id="CLikes"class="row">
                <div class="col-md-1" align="left">
                  <h1 class="g-color-gray-dark-v4 g-font-size-12"><div class="like-count{{obj.id}}">&nbsp;{{obj.num_likes}}<i class="thumbs up icon"></i></h1>
                </div>
                <div class="col-md-9"></div>
                <div class="col-md-2" align="right">
                  <form id="{{obj.id}}" action="{% url 'posts:like-post-view' %}" method="POST" class ='like-form'>
                  {% csrf_token %}
                      <input type="hidden" name='post_id' value={{obj.id}}>
                      <button type="submit" class="btn btn-outline-danger like-btn{{obj.id}}" formmethod="post">
                      {% if profile not in obj.liked.all %}
                          <i class="thumbs up icon"></i>&nbsp; Like
                      {% else %}
                          <i class="thumbs down icon"></i>&nbsp; Unlike
                      {% endif %}
                      </button>
                  </form>
                </div>
              </div>
              <div class="extra content">
                <button class="cmt_btn btn btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                </button>
                    <div id="CComments" class="comment-box row">
                        <div class="col-md-12">
                            {% if obj.comment_set.all %}
                                {% for c in obj.comment_set.all %}
                                    <div class="media g-mb-30 media-comment">
                                        <div id="ContentPost" class="media-body u-shadow-v18 g-bg-secondary g-pa-30" align="center">
                                            <img class="ui avatar image" src={{c.user.avatar.url}}>
                                            <p><b>{{ c.user.first_name }} {{c.user.last_name}}</b></p>  
                                            <p>{{c.body}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form action="" method="POST" class="ui form">
                            {% csrf_token %}
                                <input type="hidden" name="post_id" value={{obj.id}}>
                                {{c_form}}
                        </div>
                    </div>
              </div>
              <div id="ButtonSend" class="row">
                <div class="col-md-12" align="right">
                    <button type='submit' class='btn btn-outline-danger' name="submit_c_form"><i class="comment icon"></i>Send </button>
                </div>
              </div>
              </form>
              <div id="ButtonUpdateDelete" class="row" align="center">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    {% if request.user == obj.author.user %}
                            <a href="{% url 'posts:post-update' obj.pk %}">
                                <button class="btn btn-outline-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
                                        <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                                    </svg>
                                    Update
                                </button>
                            </a>
                            <a href="{% url 'posts:post-delete' obj.pk %}">
                                <button class="btn btn-outline-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                    Delete 
                                </button>
                            </a>
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
     </div>
</div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script>
  $( document ).ready(function() {
      let display = false
      $(".cmt_btn").click(function () {
          if (display===false) {
              $(this).next(".comment-box").show("slow");
              display=true
          } else {
              $(this).next(".comment-box").hide("slow");
              display=false
          }  
      });

      $('.like-form').submit(function(e){
          e.preventDefault()
          
          const post_id = $(this).attr('id')
          
          const likeText = $(`.like-btn${post_id}`).text()
          const trim = $.trim(likeText)

          const url = $(this).attr('action')
          
          let res;
          const likes = $(`.like-count${post_id}`).text()
          const trimCount = parseInt(likes)
          
          $.ajax({
              type: 'POST',
              url: url,
              data: {
                  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                  'post_id':post_id,
              },
              success: function(response) {
                  if(trim === 'Unlike') {
                      $(`.like-btn${post_id}`).text('Like')
                      res = trimCount - 1
                  } else {
                      $(`.like-btn${post_id}`).text('Unlike')
                      res = trimCount + 1
                  }

                  $(`.like-count${post_id}`).text(res)
              },
              error: function(response) {
                  console.log('error', response)
              }
          })

      })
  });
</script>
{% endblock scripts %}




