{% extends 'base.html' %}

{% block title %}
    update post
{% endblock title %}

{% block content %}
<div class="container">
    <div id="formPosts" class="col-md-12">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">  
                    <h3>Update post</h3>
                        <form action="" method="POST" class="ui form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form}}
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" align="right">
                    <button type="submit" class="btn btn-danger" align="right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                        </svg>
                        Update
                    </button>
                </div>
                <div class="col-md-2"></div>
            </div>
                        </form>
        </div>
    </div>
</div>
{% endblock content %}